<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/305c544fde.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header">
        <div class="header__barra">
            <a class="header__logo" href="/"><img src="/img/logo.png" alt="logo"></a>
        </div>
        <nav class="header-nav">
            <div class="header-nav__menu">
                <ul class="header-nav__lista">
                    <li><a class="header-nav__link" href="#">SMARTPHONES</a></li>
                    <li><a class="header-nav__link" href="#">TABLET</a></li>
                    <li><a class="header-nav__link" href="#">COMPUTADORAS</a></li>
                </ul>
                <div class="header-nav__lista">
                    <ul class="header-nav__lista">
                        <li><a class="header-nav__link" href="#">REGISTRO</a></li>
                        <li><a class="header-nav__link" href="#">LOGIN</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-nav__icono">
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="main-section">
            <article class="section-article__productos">
                <img class="section-article__img" src="/img/img-phone-01.jpg" alt="phone1">
                <h3 class="section-article__titulo">Nombre del producto</h3>
                <p class="section-article__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fuga
                    expedita sunt est impedit vitae.</p>
                <a class="section-article__ver-mas" href="">Ver Más</a>
            </article>
            <article class="section-article__productos">
                <img class="section-article__img" src="/img/img-phone-02.jpg" alt="phone2">
                <h3 class="section-article__titulo">Nombre del producto</h3>
                <p class="section-article__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fuga
                    expedita sunt est impedit vitae.</p>
                <a class="section-article__ver-mas" href="">Ver Más</a>
            </article>
            <article class="section-article__productos">
                <img class="section-article__img" src="/img/img-phone-03.jpg" alt="phone3">
                <h3 class="section-article__titulo">Nombre del producto</h3>
                <p class="section-article__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fuga
                    expedita sunt est impedit vitae.</p>
                <a class="section-article__ver-mas" href="">Ver Más</a>
            </article>
            <article class="section-article__productos">
                <img class="section-article__img" src="/img/img-phone-01.jpg" alt="phone1">
                <h3 class="section-article__titulo">Nombre del producto</h3>
                <p class="section-article__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fuga
                    expedita sunt est impedit vitae.</p>
                <a class="section-article__ver-mas" href="">Ver Más</a>
            </article>
            <article class="section-article__productos">
                <img class="section-article__img" src="/img/img-phone-02.jpg" alt="phone2">
                <h3 class="section-article__titulo">Nombre del producto</h3>
                <p class="section-article__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fuga
                    expedita sunt est impedit vitae.</p>
                <a class="section-article__ver-mas" href="">Ver Más</a>
            </article>
            <article class="section-article__productos">
                <img class="section-article__img" src="/img/img-phone-03.jpg" alt="phone3">
                <h3 class="section-article__titulo">Nombre del producto</h3>
                <p class="section-article__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fuga
                    expedita sunt est impedit vitae.</p>
                <a class="section-article__ver-mas" href="">Ver Más</a>
            </article>
        </div>
        <h2 class="home-titulo">Publicidad</h2>
        <div class="publi">
            <img class="publi__img" src="/img/anun-01.jpg" alt="publi">
            <img class="publi__img" src="/img/anun-02.jpg" alt="publi">
        </div>
        <h2 class="home-titulo">Tutoriales</h2>
        <div class="tutoriales">
            <article class="section-article__tutorial">
                <img class="section-article__tutorial-img" src="/img/aside-01.jpg" alt="aside-01">
                <h3 class="section-article__tutorial-titulo">Título del tutorial de reparación</h3>
            </article>
            <article class="section-article__tutorial">
                <img class="section-article__tutorial-img" src="/img/aside-02.jpg" alt="aside-02">
                <h3 class="section-article__tutorial-titulo">Título del tutorial de reparación</h3>
            </article>
            <article class="section-article__tutorial">
                <img class="section-article__tutorial-img" src="/img/aside-03.jpg" alt="aside-03">
                <h3 class="section-article__tutorial-titulo">Título del tutorial de reparación</h3>
            </article>
            <article class="section-article__tutorial">
                <img class="section-article__tutorial-img" src="/img/aside-04.jpg" alt="aside-04">
                <h3 class="section-article__tutorial-titulo">Título del tutorial de reparación</h3>
            </article>
        </div>
    </main>
    <aside class="aside">
        <h2 class="home-titulo">Tutoriales</h2>
        <article class="section-article__tutorial">
            <img class="section-article__tutorial-img" src="/img/aside-01.jpg" alt="aside-01">
            <h3 class="section-article__tutorial-titulo">Título del tutorial de reparación</h3>
        </article>
        <article class="section-article__tutorial">
            <img class="section-article__tutorial-img" src="/img/aside-02.jpg" alt="aside-02">
            <h3 class="section-article__tutorial-titulo">Título del tutorial de reparación</h3>
        </article>
        <article class="section-article__tutorial">
            <img class="section-article__tutorial-img" src="/img/aside-03.jpg" alt="aside-03">
            <h3 class="section-article__tutorial-titulo">Título del tutorial de reparación</h3>
        </article>
        <article class="section-article__tutorial">
            <img class="section-article__tutorial-img" src="/img/aside-04.jpg" alt="aside-04">
            <h3 class="section-article__tutorial-titulo">Título del tutorial de reparación</h3>
        </article>
        <h2 class="home-titulo">Publicidad</h2>
        <div class="publi">
            <img class="publi__img" src="/img/anun-01.jpg" alt="publi">
            <img class="publi__img" src="/img/anun-02.jpg" alt="publi">
        </div>
    </aside>
</body>

</html>