.header {
  display: flex;
  height: 50px;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: var(--colorNaranja);
}

.header__barra {
  display: flex;
    align-items: center;
}

.header__logo {
  margin-left: 10px;
}

.header-nav__menu {
  display: none;
}

.header-nav__lista {
  display: flex;
  margin-left: 10px;
}

.header-nav__lista li {
  margin-right: 10px;
}

.header-nav__login {
  display: none;
  align-items: center;
  margin-right: 10px;
}

.header-nav__link{
  font-size: 13px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .header-nav__menu {
    display: flex;
    justify-content: space-between;
  }

  .header-nav__login {
    display: flex;
  }

  .header-nav__icono {
    display: none;
  }
}

@media (min-width: 1024px){
  .header {
    margin-left: 20px;
  }
}