body.home {
  background-image: url(/img/bg-2.png);
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.main-section {
  background-color: #ffffff;
}

.section-article__productos {
  width: 100%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.section-article__img,
.publicidad__img {
  width: 100%;
}

.section-article__titulo {
  padding: 5px 0;
  font-size: 14px;
  font-weight: 900;
}

.section-article__parrafo {
  font-size: 12px;
  width: 100%;
  flex-wrap: nowrap;
}

.section-article__ver-mas {
  margin: 10px 0;
  padding: 6px;
  display: inline-block;
  background-color: var(--colorNaranja);
  color: #ffffff;
  font-size: 12px;
}

.home-titulo {
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 1px var(--colorBordes);
  font-size: 12px;
  padding: 5px;
}

.publicidad {
  width: 100%;
  background-color: #ffffff;
  padding: 5px;
}

.publicidad__img:not(:last-child) {
  margin-bottom: 5px;
}

.section-article__tutorial {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid 1px var(--colorBordes);
}

.section-article__tutorial-img {
  width: 35%;
  height: 80%;
  padding: 5px;
}

.section-article__tutorial-titulo {
  font-size: 10px;
}

.aside {
  display: none;
  width: 20%;
  display: flex;
  margin: 0;
}

@media (min-width: 481px) {
  /* PRODUCTOS */
  .main-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section-article__productos {
    width: 50%;
    padding: 5px;
  }

  /* PUBLICIDAD */
  .publicidad {
    display: flex;
    background-color: unset;
    justify-content: space-around;
  }

  .publicidad__img {
    width: 45%;
    margin-bottom: 5px;
  }

  /* TUTORIALES */
  .section-article__tutorial {
    width: 49.8%;
  }

  .tutoriales {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .section-article__tutorial-img {
    width: 30%;
  }
}

@media (min-width: 1024px) {
  main .home-titulo,
  main .tutoriales,
  main .publicidad {
    display: none;
  }

  .main {
    width: 60%;
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .aside {
    width: 36%;
    display: flex;
    flex-direction: column;
    float: right;
  }

  .home-titulo {
    width: 50%;
  }

  .publicidad {
    display: flex;
    flex-direction: column;
  }

  .publicidad {
    flex-direction: column;
  }
}
