:root {
  --colorNaranja: #FF4E46;
  --letraBoton: #FFFFFF;
  --colorBordes: #ACD8E6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  font-family: 'lato';
  background-image: url('/images/bg-2.png');
  color: #1c2833;
  max-width: 980px;
  margin: 0 auto;
}
