<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body class="home">
  <%- include('partials/header') %>

<div class="home__box">
    <main class="home__main">
        <article class="home__main__article">
            <img src="/images/img-phone-01.jpg" alt="Imagen phone 1">
            <div class="home__main__article--description">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                <a href="">ver más</a>
            </div>

        </article>
        <article class="home__main__article">
            <img src="/images/img-phone-02.jpg" alt="Imagen phone 2">
            <div class="home__main__article--description">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                <a href="">ver más</a>
            </div>

        </article>
        <article class="home__main__article">
            <img src="/images/img-phone-03.jpg" alt="Imagen phone 3">
            <div class="home__main__article--description">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                <a href="">ver más</a>
            </div>

        </article>
        <article class="home__main__article">
            <img src="/images/img-phone-01.jpg" alt="Imagen phone 1">
            <div class="home__main__article--description">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                <a href="">ver más</a>
            </div>

        </article>
        <article class="home__main__article">
            <img src="/images/img-phone-02.jpg" alt="Imagen phone 2">
            <div class="home__main__article--description">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                <a href="">ver más</a>
            </div>

        </article>
        <article class="home__main__article">
            <img src="/images/img-phone-03.jpg" alt="Imagen phone 3">
            <div class="home__main__article--description">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                <a href="">ver más</a>
            </div>
        </article>
    </main>
    <aside class="home__aside">
        <section class="home__aside__section">
            <h3>Tutoriales</h3>
            <article class="home__aside__section__article">
                <img src="/images/aside-01.jpg" alt="Imagen tutorial 1">
                <h5>Título del tutorial de reparación</h5>
            </article>
            <article class="home__aside__section__article">
                <img src="/images/aside-02.jpg" alt="Imagen tutorial 2">
                <h5>Título del tutorial de reparación</h5>
            </article>
            <article class="home__aside__section__article">
                <img src="/images/aside-03.jpg" alt="Imagen tutorial 3">
                <h5>Título del tutorial de reparación</h5>
            </article>
            <article class="home__aside__section__article">
                <img src="/images/aside-04.jpg" alt="Imagen tutorial 4">
                <h5>Título del tutorial de reparación</h5>
            </article>
        </section>
        <section class="home__aside__section">
            <h3>Publicidad</h3>
            <div class="home__aside__section--ads">
                <img src="/images/ad-01.jpg" alt="imagen publicidad 1">
                <img src="/images/ad-02.jpg" alt="imagen publicidad 2">
            </div>
        </section>
    </aside>
</div>
</body>

</html>